
<li id="burgerlist">
	{{burger_name}}
    {{!-- burger image --}}
	<img src="/assets/images/cheeseburger-155659_640.png" alt="burger" height=" 85" width="90">
	<button class="change-burger" data-id="{{id}}" data-newOrder="{{eaten}}">
		{{#if eaten}}

        {{else}}Devour!
        
        {{/if}}
	</button>
	<button class="delete-burger" data-id="{{this.id}}">REMAKE</button>
</li>